<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<title>Delete {{item.item_name}}</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
		</script>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
		</script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
		</script>
		<link rel="stylesheet" type="text/css" href="{% static 'marketplace/style.css'%}">
		<link rel="stylesheet" type="text/css" href="{% static 'css\style-sheet.css'%}">
	</head>
	{% if user.is_authenticated %}
		{% if request.user.username == creator %}
			<body>
		    	<div class="navBar">
		            {% include 'marketplace/navbar.html' %}
		    	</div>
		      	<div class="content"style="padding-top:50px; padding-left:300px; padding-right: 300px">
		        	<h1>Delete {{item.item_name}}</h1>
		        		<hr>
		        	<form method="POST" action="{% url 'marketplace:delete' item.id %}">{% csrf_token %}
								<div class="card float-left" style="width: 50%; min-width: 18rem;">
									<div class="card-header">
										<h5><a href="{% url 'marketplace:detail' item.id %}">{{item.item_name}}</a></h5>
									</div>
							    <div class="card-body">
										<img src="{{ item.item_photo.url }}" class="card-img-top" alt="no image">
							      <p class="card-text">{{item.item_description}}</p>
							    </div>
							  </div>
								<div class=" float-right">
									<strong>Are you SURE you want to delete {{item.item_name}}? This is a permanent action.</strong><br>
										<div class="text-center">
		            			<button type='submit' class="btn btn-danger">Yes, delete!</button>
											<a href="{% url 'marketplace:profile'%}" class="btn btn-warning">No, back to profile!</a>
										</div>
		        	</form>
				</div>
			</body>
    {% else %}
		{% include 'marketplace/notauth2.html' %}
	{% endif %}
	{% else %}
    	{% include 'marketplace/notauth.html' %}
  {% endif %}
</html>
