<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>{{item.item_name}}</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 94%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
		</script>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
		</script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
		</script>
    <link rel="stylesheet" type="text/css" href="{% static 'marketplace/style.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css\style-sheet.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css\outbox-message-cards.css'%}">
  </head>
  {% if user.is_authenticated %}
  <body>
    <div class="navBar">
      {% include 'marketplace/navbar.html' %}
    </div>
    <div class="itemInfo" style="float:left; padding:50px; width:25%">
      {% if item.item_sold %}
        <h2>{{ item.item_name }} (sold)</h2>
      {% else %}
        <h2>{{ item.item_name }} (${{item.item_price}})</h2>
      {% endif %}
      {% if user == item.seller %}
        Listed by <a id = "items" href="{% url 'marketplace:profile' %}">{{ item.seller }}</a> in {{item.item_condition}} condition
      {% else %}
        Listed by <a id = "items" href="{% url 'marketplace:user' item.seller.id %}">{{ item.seller }}</a> in {{item.item_condition}} condition
      {% endif %}
      <hr>
      <img src="{{ item.item_photo.url }}" width=100%> <br><br>
      {% if item.item_sold %}
        <strong>Item has been sold.</strong> <br>
      {% endif %}
      {{item.item_description}}<br><br>
      Pay with {{item.item_preferred_payment_method}}<br>
      Available for pickup (see map)
      {% if item.item_delivery %}
        Item can also be delivered. <br>
      {% endif %}
      <br><br>
      {% if user == item.seller %}
        <a href="{% url 'marketplace:markSold' item.id %}"  class="btn btn-outline-success btn-sm">Mark as Sold</a>
        <a href="{% url 'marketplace:delete' item.id %}" class="btn btn-outline-danger btn-sm">Delete</a>
      {% else %}
        <a href = "{% url 'marketplace:message' %}?receiver={{item.seller.username}}&subject={{item.item_name}}" style="padding-right: 10px" class="btn btn-primary btn-block btn-sm buttoncolor button-no-border">Message seller</a><br>
      {% endif %}
    </div>
    <div id="map"></div>
    <script>
      var map;
      function initMap() {
        var item = {lat: parseFloat("{{ item.latitude }}"),  lng: parseFloat("{{ item.longitude }}")};
        var myOptions = {
              zoom: 17,
              minZoom:16,
              center: item,
              draggable:false,
              gestureHandling: 'greedy',
              mapTypeId: google.maps.MapTypeId.TRAFFIC
          }

        map = new google.maps.Map(document.getElementById('map'), myOptions);
        var item = {lat: parseFloat("{{ item.latitude }}"),  lng: parseFloat("{{ item.longitude }}")};
        var marker = new google.maps.Marker({position: item, map: map});
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-noulcCvpGQZwZJGdCfzhf5dZ0fa6eWs&callback=initMap"
    async defer></script>
  </body>
  {% else %}
    {% include 'marketplace/notauth.html' %}
  {% endif %}

</html>
