<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<title>Product Detail: {{item.item_name}}</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
		</script>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
		</script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
		</script>
		<link rel="stylesheet" type="text/css" href="{% static 'marketplace/style.css'%}">
	</head>
	<body>
		<div class="navBar">
			{% include 'marketplace/navbar.html' %}
		</div>
		<div class="content" style="padding-left:300px">
			<h1>{{ item.item_name }}</h1>
			    Seller: <a id = "items" href="{% url 'marketplace:user' item.seller.pk %}">{{ item.seller }}</a><br>
					Description: {{item.item_description}}<br>
					Condition: {{item.item_condition}}<br>
			    Price: ${{item.item_price}}<br>
					Preferred method of payment: {{item.item_preferred_payment_method}}<br>
			    Location: {{item.item_location}}<br>
					{% if item.item_delivery %}
						Item can be delivered. <br>
					{% endif %}
					{% if item.item_sold %}
						Item has been sold. <br>
					{% endif %}
			</ul>
		</div>
	</body>
</html>
