<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>Hooslist: Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 94%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
		</script>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
		</script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
		</script>
		<link rel="stylesheet" type="text/css" href="{% static 'marketplace/style.css'%}">
  </head>
  {% if user.is_authenticated %}
  <body>
    <div class="navBar">
      {% include 'marketplace/navbar.html' %}
    </div>
    <div class="itemInfo" style="float:left; padding:50px; width:25%">
      <h1>{{ item.item_name }}</h1>
      <img src="{{ item.item_photo.url }}" width=100%> <br>
      Seller: <a id = "items" href="{% url 'marketplace:user' item.seller.id %}">{{ item.seller }}</a><br>
      Description: {{item.item_description}}<br>
      Condition: {{item.item_condition}}<br>
      Price: ${{item.item_price}}<br>
      Preferred method of payment: {{item.item_preferred_payment_method}}<br>
      Location: {{item.item_location}}<br>
      {% if item.item_delivery %}
        Item can be delivered. <br>
      {% endif %}
      {% if item.item_sold %}
        Item has been sold. <br>
      {% endif %}
      <a href = "{% url 'marketplace:message' %}?receiver={{item.seller.username}}&subject={{item.item_name}}" style="padding-right: 10px">
      Message seller</a><br>
    </div>
    <div id="map"></div>
    <script>
      var map;
      function initMap() {
        var item = {lat: parseFloat("{{ item.latitude }}"),  lng: parseFloat("{{ item.longitude }}")};
        var myOptions = {
              zoom: 17,
              minZoom:15,
              center: item,
              draggable:true,
              gestureHandling: 'greedy',
              mapTypeId: google.maps.MapTypeId.TRAFFIC
          }

        map = new google.maps.Map(document.getElementById('map'), myOptions);
        var item = {lat: parseFloat("{{ item.latitude }}"),  lng: parseFloat("{{ item.longitude }}")};
        var marker = new google.maps.Marker({position: item, map: map});
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-noulcCvpGQZwZJGdCfzhf5dZ0fa6eWs&callback=initMap"
    async defer></script>
  </body>
  {% else %}
    {% include 'marketplace/notauth.html' %}
  {% endif %}

</html>
