{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <title>Hooslist</title>
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
    integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
    crossorigin="anonymous">
</head>
<body>
  {% include 'marketplace/navbar.html' %}
      <div style="text-align:center; padding-top:50px;">
        <p>Messages</p><br>
        {% if results %}
          <ul>
            {%for item in results %}
              <li><p> {From: item.sender}<br>
                To: {item.receiver}}<br>
                Subject: {{ item.subject }} <br>
                {{item.text}}<br></p>
              </li>
            {% endfor %}
          </ul>
      {% else %}
        <p>No items match your query.</p>
      {% endif %}
    </div>
  </div>
   </body>
</html>