<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Inbox</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
        </script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
        </script>
        <link rel="stylesheet" type="text/css" href="{% static 'marketplace/style.css'%}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="{% static 'css\style-sheet.css'%}">
        <link rel="stylesheet" type="text/css" href="{% static 'css\outbox-message-cards.css'%}">
      </head>

  {% if user.is_authenticated %}
  <body>
			<div class="navBar">
				{% include 'marketplace/navbar.html' %}
			</div>
      <div style="padding-top:50px; padding-left:300px; padding-right:300px">
        <h1>Inbox</h1>
        <hr>
        <div class="container h-100">
          <div class="position-relative h-100">
              <div class="position-absolute top-left">
                  <a class="btn btn-primary buttoncolor button-no-border" href="{% url 'marketplace:outbox' %}">Sent</a>
              </div>
              <div class="position-absolute top-right">
                  <a class="btn btn-primary buttoncolor button-no-border" href="{% url 'marketplace:message' %}">Compose ✎</a>
              </div>
          </div>
        </div>
        <br>
        <br>
        <hr>


        <body>
          <div class="column">
            {% if messages %}
              {%for item in messages %}
                <div class="row-12">
                  <div class="card">
                    <h3>Message from {{item.sender}}</h3>
                    <hr class="someClass">
                    <p align="left"><b>Subject:</b> {{ item.subject }}</p>
                    <p align="left"><b>Sent on:</b> {{item.timesent}}</p>
                    <p align="left"><b>Message:</b> {{item.text}}</p>
                    <a class="btn btn-primary btn-sm buttoncolor button-no-border" href="{% url 'marketplace:reply' item.id %}">Reply to {{item.sender}}</a>
                  </div>
                  <br>
                </div>
              {% endfor %}
          </div>
            {% else %}
              <div class="column">
                <div class="row">
                  <div class="card">
                    <p>No messages to see.</p>
                  </div>
                </div>
              </div>
            {% endif %}
      </body>
  </div>
</body>
    {% else %}
      {% include 'marketplace/notauth.html' %}
    {% endif %}
</html>
