<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Inbox Page</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
        </script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
        </script>
        <link rel="stylesheet" type="text/css" href="{% static 'marketplace/style.css'%}">
   </head>
  {% if user.is_authenticated %}
  <body>
			<div class="navBar">
				{% include 'marketplace/navbar.html' %}
			</div>
      <div style="padding-top:50px; padding-left:300px; padding-right:300px">
        <h1> Inbox</h1>
        <a href="{% url 'marketplace:outbox' %}">Sent</a>
        <hr>
        <a href="{% url 'marketplace:message' %}">Send a Message</a>

        <br><br>
        {% if messages %}
            {%for item in messages %}
              <p> <b>From: {{item.sender}}</b><br>
                Subject: {{ item.subject }} <br>
                Received: {{item.timesent}}<br>
                {{item.text}}<br>
                <a href="{% url 'marketplace:reply' item.id %}">Reply</a>
              </p>
              <hr>
            {% endfor %}
        {% else %}
          <p>No messages to see.</p>
        {% endif %}
      </div>
    </body>
    {% else %}
      {% include 'marketplace/notauth.html' %}
    {% endif %}
</html>
