<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<title>Hooslist: All Products</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
		</script>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
		</script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
		</script>
		<link rel="stylesheet" type="text/css" href="{% static 'marketplace/style.css'%}">
	</head>

	<body>
		<div class="navBar">
			{% include 'marketplace/navbar.html' %}
		</div>
		<div class="content"style="padding-top:50px; padding-left:300px; padding-right: 300px">
			<div class="left-side" style="float:left">
				<h2> Filter by </h2>
				<form method = "GET" action = "{% url 'marketplace:filter' %}" >
					{% csrf_token %}
					<select name = "f" value = {{request.GET.f}}>
							<option value = furniture> Furniture </option>
							<option value = textbooks> Textbooks </option>
							<option value = clothing> Clothing </option>
							<option value = kitchen> Kitchen </option>
							<option value = supplies> Class Supplies </option>
							<option value = dorm> Dorm </option>
							<option value = uva > UVA Gear </option>
							<option value = electronics> Electronics </option>
					</select>
					<button type = "submit"> Filter </button>
				</form>
			</div>
			<div class="right-side" style="float:right">
				<h2>Items currently for sale</h2>
				{% if latest_item_list %}
				    <ul>
				    {% for item in latest_item_list %}
				        <li><a id = "items" href="{% url 'marketplace:detail' item.id %}">{{ item.item_name }}</a></li>
				    {% endfor %}
				    </ul>
				{% else %}
				    <p>No items are available.</p>
				{% endif %}
		</div>
	</body>
</html>
