<!DOCTYPE html>
{% load static %}
{% load widget_tweaks %}

<html>
	<head>
		<title>Advanced Search</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
		</script>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
		</script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
		</script>
		<link rel="stylesheet" type="text/css" href="{% static 'marketplace/style.css'%}">
		<link rel="stylesheet" type="text/css" href="{% static 'css\style-sheet.css'%}">
	</head>
	{% if user.is_authenticated %}
    <body>
      <div class="navBar">
				{% include 'marketplace/navbar.html' %}
			</div>
      <div class="content"style="padding-top:50px; padding-left:300px; padding-right: 300px">
        <form method="get">
					<div class="well">
						<h2 style="margin-top: 0">Advanced Search</h2>
						<hr>
						<div class="row">
							<div class="form-group col-sm-4 col-md-3">
								Name contains:
								{% render_field filter.form.item_name class="form-control" %}
							</div>
							<div class="form-group col-sm-4 col-md-3">
								Description contains:
								{% render_field filter.form.item_description class="form-control" %}
							</div>
							<div class="form-group col-sm-4 col-md-3">
								Category:
								{% render_field filter.form.item_categories class="form-control" %}
							</div>
							<div class="form-group col-sm-8 col-md-3">
								Condition:
								{% render_field filter.form.item_condition class="form-control" %}
							</div>
							<div class="form-group col-sm-4 col-md-3">
								Price is exactly:
								{% render_field filter.form.item_price class="form-control" %}
							</div>
							<div class="form-group col-sm-8 col-md-3">
							  Price is less than:
								{% render_field filter.form.item_price__lt class="form-control" %}
							</div>
							<div class="form-group col-sm-8 col-md-3">
								Price is greater than:
								{% render_field filter.form.item_price__gt class="form-control" %}
							</div>
							<div class="form-group col-sm-8 col-md-3">
								Preferred method of payment:
								{% render_field filter.form.item_preferred_payment_method class="form-control" %}
							</div>
						</div>
						<button type="submit" class="btn buttoncolor float-right btn-primary button-no-border">Search</button>
        </form><br><br>
				<hr>
				{% if filter.qs %}
					<div class="card-deck">
						{% for item in filter.qs %}
							{% if item.item_sold == False %}
								<div class="card mt-3" style="min-width: 18rem;">
									<div class="card-header">
										<h5><a href="{% url 'marketplace:detail' item.id %}">{{item.item_name}}</a></h5>
									</div>
									<div class="card-body">
										<img src="{{ item.item_photo.url }}" class="card-img-top" alt="no image">
										<p class="card-text">{{item.item_description}}</p>
									</div>
									<div class="card-footer">
										<small class="text-muted">Seller: {{item.seller}}</small>
									</div>
								</div>
							{% endif %}
						{% endfor %}
						<div class="invisible card mt-3" style="min-width: 18rem;"></div>
						<div class="invisible card mt-3" style="min-width: 18rem;"></div>
						<div class="invisible card mt-3" style="min-width: 18rem;"></div>
					</div>
				{% else %}
				  <p>No items match your query.</p>
				{% endif %}
      </div>
    </body>
    {% else %}
      {% include 'marketplace/notauth.html' %}
    {% endif %}
</html>
