<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 94%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
		</script>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
		</script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
		</script>
		<link rel="stylesheet" type="text/css" href="{% static 'marketplace/style.css'%}">
  </head>
  {% if user.is_authenticated %}
    <body>
      <div class="navBar">
        {% include 'marketplace/navbar.html' %}
      </div>
      <div id="map"></div>
      <script>
        var map;
        function initMap() {
          var uva = new google.maps.LatLng(38.033523,-78.507935);
          var myOptions = {
                zoom: 17,
                minZoom:15,
                center: uva,
                draggable:true,
                gestureHandling: 'greedy',
                mapTypeId: google.maps.MapTypeId.TRAFFIC
            }

          map = new google.maps.Map(document.getElementById('map'), myOptions);
          setMarkers();
        }

        function setMarkers() {
            var marker = null;
            var infowindow = new google.maps.InfoWindow();

            {% for item in item_list %}
            var contentString =
              '<h1 id="firstHeading" class="firstHeading">{{ item }}</h1>'+
              '<div><b>Seller: </b>{{item.seller}}</div>'+
              '<a href="{% url 'marketplace:detail' item.id %}">Details</a>';
              var marker = new google.maps.Marker({
                  draggable: false,
                  position: new google.maps.LatLng({{item.latitude}}, {{item.longitude}}),
                  map: map,
                  title: '{{ item }}',
                  info: contentString,
              });

                google.maps.event.addListener(marker, 'click', function () {
                    infowindow.setContent(this.info);
                    infowindow.open(map, this);
                });
            {% endfor %}
          }

      </script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-noulcCvpGQZwZJGdCfzhf5dZ0fa6eWs&callback=initMap"
      async defer></script>
    </body>
  {% else %}
    {% include 'marketplace/notauth.html' %}
  {% endif %}
</html>
