<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<title>Profile Page</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
		</script>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
		</script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
		</script>
		<link rel="stylesheet" type="text/css" href="{% static 'marketplace/style.css'%}">
		<link rel="stylesheet" type="text/css" href="{% static 'css\style-sheet.css'%}">
        <link rel="stylesheet" type="text/css" href="{% static 'css\outbox-message-cards.css'%}">
	</head>

	{% if user.is_authenticated %}
		<body>
	        <div class="navBar">
	                {% include 'marketplace/navbar.html' %}
	        </div>
	        <div style="padding-top:50px; padding-left:300px; padding-right: 300px">
				<center><h1>Welcome to your profile, {{user.username}}</h1></center>
				<hr>
				<div class="container h-100"> 
				  <div class="position-relative h-100"> 
					  <div class="position-absolute top-left"> 
						  <a class="btn btn-primary buttoncolor button-no-border" href="{% url 'marketplace:add_item' %}">Click to Add a Listing!</a>
					  </div>  
					  <div class="position-absolute top-right"> 
							<a class="btn btn-primary buttoncolor button-no-border" href="{% url 'marketplace:logout'%}">Click to Logout!</a> 
					  </div>
				  </div>
				</div>
				<br>
				<br>
				<hr>
				
				<body></body>
				<div class="card">
					<h3>Your items for sale</h3>
					<hr class="someClass">
					{% if user.item_set.all %}
					<div class="d-flex justify-content-center">
						<lu>
						<p></p>
						<hr>
		        		{% for item in user.item_set.all %}
		        			{% if item.item_sold == False %}
								<li><div class="horizontalgap" style="width:5px"></div> <b>Item Name:</b> {{ item.item_name }}  
								<div class="horizontalgap" style="width:10px"></div>
								<div class="horizontalgap" style="width:5px"></div> <a href="{% url 'marketplace:detail' item.id %}"  class="btn btn-outline-dark btn-sm">Go to Listing</a>
								<div class="horizontalgap" style="width:5px"></div> <a href="{% url 'marketplace:markSold' item.id %}"  class="btn btn-outline-success btn-sm">Mark as Sold</a>
								<div class="horizontalgap" style="width:5px"></div> <a href="{% url 'marketplace:delete' item.id %}" class="btn btn-outline-danger btn-sm">Delete</a>
								</li>
								<hr>
							  {% endif %} 
						{% endfor %}
						</lu>
					</div>
				</div>	
					{% else %}
						<div class="column">
							<div class="row">
							  <div class="card">
								<p>You have no items for sale.</p>
							  </div>
							</div>
						</div> 
					{% endif %}
				
					<br>

				<div class="card">
					<h3>Your items sold</h3>
					<hr class="someClass">
					{% if user.item_set.all %}
						<div class="d-flex justify-content-center">
	        			<lu>
						<p></p>
						<hr>
	          			{% for item in user.item_set.all %}
	          				{% if item.item_sold %}
	              			<li>
								<b>Item Name:</b> {{item.item_name}}
								<a id = "items" href="{% url 'marketplace:detail' item.id %}"class="btn btn-outline-dark btn-sm">Go to Listing</a>
							</li>
							<hr>
							{% endif %}
						  {% endfor %}
						</lu>
					</div>
				</div>
	        		{% else %}
						<div class="column">
							<div class="row">
							  <div class="card">
								<p>You haven't sold any items.</p>
							  </div>
							</div>
						</div> 
					{% endif %}
			</body>
			<br>
		</body>
	{% else %}
    {% include 'marketplace/notauth.html' %}
	{% endif %}
</html>
