<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<title>{{seller.seller_name}}</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
		</script>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
		</script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
		</script>
		<link rel="stylesheet" type="text/css" href="{% static 'marketplace/style.css'%}">
	</head>
	<body>
		<div class="navBar">
			{% include 'marketplace/navbar.html' %}
		</div>
		<div class="content" style="padding-left:300px">
		<h1>{{ seller.seller_name }}</h1>
			Seller rating:<br>
			{% for field in seller.ratinginfo_set.all %}
				{{field.count}} {{field.info_field}} votes<br>
			{% endfor %}
				<!-- display only if > 3 transactions -->
			<a href = "{% url 'marketplace:rate' seller.pk %}">Rate this seller</a>
			<br><br>
		    Items for sale:
        {% if seller.item_set.all %}
    		    <ul>
    		    {% for item in seller.item_set.all %}
							{% if item.item_sold == False %}
    		       	<li><a id = "items" href="{% url 'marketplace:detail' item.id %}">{{ item.item_name }}</a></li>
							{% endif %}
    		    {% endfor %}
    		    </ul>
    		{% else %}
    		    <p>No items for sale.</p>
    		{% endif %}
				Items sold:
				{% if seller.item_set.all %}
					<ul>
						{% for item in seller.item_set.all %}
							{% if item.item_sold %}
								<li><a id = "items" href="{% url 'marketplace:detail' item.id %}">{{ item.item_name }}</a></li>
							{% endif %}
    		    {% endfor %}
  		    </ul>
				{% endif %}
		</ul>
		</div>
	</body>
</html>
